{% extends 'index.html' %}

{% block titulo %}
Creación de autores
{% endblock titulo %}


{% block body%}

<form method="POST">

  {% csrf_token %}

  {% if error %}
    <h2>{{ error }}</h2>

  {% else %}

    <!--    {{ autor_form.as_p }}    -->

    <label>Nombre</label>
    <input type="text" name="nombre"></input>
  
    <label>Apellidos</label>
    <input type="text" name="apellidos"></input>
  
    <label>Nacionalidad</label>
    <input type="text" name="nacionalidad"></input>
  
    <label>Descripción</label>
    <input type="text" name="descripcion"></input>
  
    <button type="submit"> crear </button>

  {% endif %}


</form>

{% endblock body%}